*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color: #ffffff;
    --text-color: rgb(0, 0, 0);
    --second-color: #000000;
    --main-color: #1a1a1a;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1rem;
}
/* .bgimg{
    background-size: cover;
} */
body{
    background-image: url(3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
header{
    width: 90%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 18%;
    transition: .3s;
    margin-top: 30px;
    margin-left: 150px;
}
.navlist{
    display: flex;
    margin-right: 20px;
}
.navlist li{
    position: relative;
    margin-right: 30px;
}
.navlist a{
    font-size: 25px;
    color: var(--text-color);
    font-weight: 500;
    /* padding: 10px 27px; */
    margin-right: 10px;
}
.navlist a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--main-color);
    bottom: -3px;
    left: 0;
    transition: ease .40s;
}
.navlist a:hover::after{
    width: 100%;
}
.top-btn1{
    display: inline-block;
    padding: 9px 30px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: var(--p-font);
    font-weight: 200;
    transition: ease .50s;
    /* text-decoration: none; */
}
.top-btn2{
    display: inline-block;
    padding: 9px 30px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: var(--p-font);
    font-weight: 200;
    transition: ease .50s;
}
.top-btn3{
    display: inline-block;
    padding: 9px 30px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: var(--p-font);
    font-weight: 200;
    transition: ease .50s;
}
.top-btn4{
    display: inline-block;
    padding: 9px 30px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: var(--p-font);
    font-weight: 200;
    transition: ease .50s;
}
.top-btn5{
    display: inline-block;
    padding: 9px 30px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: var(--p-font);
    font-weight: 200;
    transition: ease .50s;
}
.top-btn1:hover{
    transform: scale(1.1);
    background: var(--main-color);
    border: 2px solid var(main-color);
    color: var(--bg-color);
}
.top-btn2:hover{
    transform: scale(1.1);
    background: var(--main-color);
    border: 2px solid var(main-color);
    color: var(--bg-color);
}
.top-btn3:hover{
    transform: scale(1.1);
    background: var(--main-color);
    border: 2px solid var(main-color);
    color: var(--bg-color);
}
.top-btn4:hover{
    transform: scale(1.1);
    background: var(--main-color);
    border: 2px solid var(main-color);
    color: var(--bg-color);
}
.top-btn5:hover{
    transform: scale(1.1);
    background: var(--main-color);
    border: 2px solid var(main-color);
    color: var(--bg-color);
}
.logo img{
    /* max-width: 100; */
    width: 160px;
    height: auto;
    position: fixed;
    margin-left: 50px;
}

.logo-container {
    /* margin-top: 120px; */
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: space-around; */
    /* margin: 100px 0px 0px 1150px; */
    background-color: #7c7c7c; 
    background-image: url(1-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: 5%;
    background-size: 15%;
}
.home-text{
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 20%;

}
.home-text h2{
    margin: 10px 0px 25px;
    font-size: var(--big-font);
    line-height: 1;
    font-weight: 500;
    color: blueviolet;
    /* padding-right: 50%; */
}
.home-text h3{
    margin-bottom: 23px;
    font-size: 40px;
    font-weight: 400;

}
.home-text h4{
    color: rgb(9, 74, 144);
    font-size: 30px;
    font-weight: 500;
}
.buttons{
    margin-top: 5%;
    /* margin-left: %; */
    width: 100%;
    /* display: flex; */
    /* flex-direction: row; */
}
.bot-btn1{
    display: inline-block;
    padding: 9px 30px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: var(--p-font);
}
.bot-btn2{
    display: inline-block;
    padding: 9px 30px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: var(--p-font);
}
.bot-btn3{
    display: inline-block;
    padding: 9px 30px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: var(--p-font);
}
.bot-btn4{
    display: inline-block;
    padding: 9px 30px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: var(--p-font);
}
.bot-btn5{
    display: inline-block;
    padding: 9px 30px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: var(--p-font);
}
.bot-btn6{
    display: inline-block;
    padding: 9px 30px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: var(--p-font);
}
.bot-btn7{
    display: inline-block;
    padding: 9px 30px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    color: var(--text-color);
    letter-spacing: 2px;
    font-size: var(--p-font);
}
.bot-btn8{
    display: inline-block;
    padding: 9px 30px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: var(--p-font);
}
.bot-btn9{
    display: inline-block;
    padding: 9px 30px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: var(--p-font);
}
.bot-btn10{
    display: inline-block;
    padding: 9px 30px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: var(--p-font);
}
.close{
    cursor: pointer;
    /* margin-bottom: 15%; */
    background-color: #fcd5d5;
    border-radius: 10%;
    font-weight: 10px;
    font-size: large;
}
.para{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    margin-top: 2%;
    align-items: center;
    visibility: hidden;
    background-color: rgb(185, 185, 184);
    height: 100%;
    
}
.details{
    margin-right: 20%;
}
/* .details.name{
    letter-spacing: 20%;
    font-size: large;
} */
